body{
    background-color: aliceblue;

}
.cards{
    display: flex;
    justify-content: center;
    align-items:normal;
    margin-top: 10rem;
  
}

.card{
    border-radius: 10px;
    margin-right: 2rem;
}

.card-img-top{
    height: 100%;
    width: auto;
}

/* Pages */
.image{
margin-left:50rem;
}


.desc-1{
    display: block;
    width: 40rem;
    margin-left:1rem;
    font-size: large;
}